#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Windows
Thumbs.db

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# User-specific stuff
.idea/

# cash
.pytest_cache

# logs
geckodriver.log

# allure reports
allure